* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// font import
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Roboto:wght@700&display=swap");

// fonts family
$rounded: "M PLUS Rounded 1c", sans-serif;
$roboto: "Roboto", sans-serif;

$round: 25px;
$dark-blue: #32025b;
$blue: #7b2cbf;
// $

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

#main-wrap {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    @include resp(768px) {
        width: 80%;
        max-width: 450px;
    }
    .container {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

// color control
.sign-in-container {
    background-color: white;
    color: $dark-blue;
    .submit-btn {
        background-color: $dark-blue;
        color: white;
        border: 0px;
    }
    input {
        background-color: transparent;
        border: 1.5px solid $dark-blue;
    }
    .hint {
        color: darken($color: $dark-blue, $amount: 20);
    }
    .warning {
        svg {
            path {
                fill: $dark-blue;
            }
        }
    }
    .brand {
        svg {
            path {
                fill: $dark-blue;
            }
        }
    }
}
.sign-up-container {
    background-color: $dark-blue;
    color: white;
    clip-path: circle(0% at 100% 0);
    &:hover {
        clip-path: circle(150% at 100% 0);
    }
    .submit-btn {
        background-color: white;
        color: $dark-blue;
        border: 0px;
    }
    input {
        background-color: transparent;
        border: 1.5px solid white;
    }
    .hint {
        color: darken($color: white, $amount: 20);
    }
    .warning {
        svg {
            path {
                fill: white;
            }
        }
    }
    .brand {
        svg {
            path {
                fill: white;
            }
        }
    }
}


// clipping path animation 
.clip-animation {
    // clip-path: circle(115.4% at 0 1%);
    clip-path: circle(160% at 100% 0);
}


section {
    width: 100vw;
    height: 300vh;
    background: #e5e5e5;
    padding-top: 125px;
    .container {
        display: grid;
        width: 100%;
        height: auto;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 35px 40px 50px 40px;
        // animation 
        transition: all 0.5s, clip-path 0.8s ease-in-out;
        @media only screen and (min-width: 768px) {
            padding: 40px 45px 55px 45px;
        }
        @at-root .in-out-btn {
            // position element
            position: absolute;
            right: -28px;
            top: -28px;
            z-index: 500;
            // common style
            width: 65px;
            height: 65px;
            background-color: $blue;
            border-radius: $round;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            justify-self: end;
            // @media only screen and (min-width: 768px) {
            //     transform: translate3d(70px, -70px, 0px);
            // }
            svg {
                display: inline-block;
                width: 50%;
                height: auto;
                margin-left: -8px;
            }
        }
        // brand icon
        .brand {
            width: 80px;
            margin-left: auto;
            margin-right: auto;
            @include resp(768px) {
                width: 105px;
            }
            svg {
                display: block;
                width: 100%;
            }
        }

        // form container
        .form-container {
            margin-top: 25px;
            .form-title {
                font-family: $roboto;
                font-size: 1.5rem;
                text-transform: capitalize;
                margin-bottom: 30px;
                @include resp(768px) {
                    font-size: 2rem;
                    margin-bottom: 40px;
                }
            }
            .input-group {
                width: 100%;
                display: flex;
                flex-flow: column;
                margin-top: 18px;
                @include resp(768px) {
                    margin-top: 25px;
                }
                label {
                    font-size: 17px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    @include resp(768px) {
                        font-size: 20px;
                    }
                }
                input {
                    width: 100%;
                    padding: 12.5px;
                    font-size: 14px;
                    margin-top: 8px;
                    font-family: $roboto;
                    @include resp(768px) {
                        padding: 15px;
                    }
                }
            }
            .btn-wrapper {
                margin-top: 25px;
                @include resp(768px) {
                    margin-top: 35px;
                }
            }
            input,
            .submit-btn {
                border-radius: 5px;
            }
            .submit-btn {
                padding: 13px;
                cursor: pointer;
                font-family: $roboto;
                font-size: 0.95rem;
                margin-top: 10px;
                letter-spacing: 1px;
                @include resp(768px) {
                    padding: 17px;
                    font-size: 17px;
                }
            }
            .hint {
                font-family: Arial;
                font-weight: bold;
                text-align: center;
                display: block;
                margin-top: 15px;
                text-decoration: none;
                font-size: 12px;
                @include resp(768px) {
                    font-size: 14px;
                }
            }
            // #sign-in {
            //     color: $dark-blue;
            //     .submit-btn {
            //         background-color: $dark-blue;
            //         color: white;
            //         border: 0px;
            //     }
            // }
        }
        // warning icon
        .input-group {
            position: relative;
            .warning {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 12px;
                bottom: 12px;
                @include resp(768px) {
                    width: 25px;
                    height: 25px;
                }
                svg {
                    width: 100%;
                }
            }
        }
        .pass-group {
            svg {
                width: 80% !important;
            }
        }
    }
}
